@model PizzeriaOnline.ViewModels.PizzaEditViewModel

@{
	ViewData["Title"] = "Editar Pizza";
}

<h1>@ViewData["Title"]</h1>
<h4>Pizza</h4>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="RutaImagenExistente" />

			<div class="mb-3">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control"/>
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Descripcion" class="control-label"></label>
				<textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
				<span asp-validation-for="Descripcion" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="ImagenArchivo" class="control-label">Cambiar la Imagen (Opcional)</label>
				<input asp-for="ImagenArchivo" type="file" class="form-control"/>
				<span asp-validation-for="ImagenArchivo" class="text-danger"></span>		
			</div>

			<div class="mt-4">
				<button type="submit" class="btn btn-primary">Guardar Cambios</button>
				<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>
	</div>
	<div class="col-md-4">
		<label>Imagen Actual</label><br />
		@if (!string.IsNullOrEmpty(Model.RutaImagenExistente))
		{
			<img src="@Model.RutaImagenExistente" style="width: 250px; height: auto; border-radius: 5px;" />
		}
		else
		{
			<p class="text-muted">No hay imagen</p>
		}
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}