@model PizzeriaOnline.ViewModels.PromocionCreateViewModel

@{
	ViewData["Title"] = "Crear Nueva Promoción";
}

<h1>@ViewData["Title"]</h1>
<h4>Promoción</h4>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="mb-3">
				<label asp-for="Titulo" class="form-label"></label>
				<input asp-for="Titulo" class="form-control" />
				<span asp-validation-for="Titulo" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Descripcion" class="form-label"></label>
				<input asp-for="Descripcion" class="form-control" />
				<span asp-validation-for="Descripcion" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Precio" class="form-label"></label>
				<input asp-for="Precio" class="form-control" />
				<span asp-validation-for="Precio" class="text-danger"></span>
			</div>			
			<div class="mb-3">
				<label asp-for="RutaImagen" class="form-label">Imagen de la Promoción</label>
				<input asp-for="RutaImagen" class="form-control" type="file" />
				<span asp-validation-for="RutaImagen" class="text-danger"></span>
			</div>
			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" asp-for="EstaActiva" />
				<label class="form-check-label" asp-for="EstaActiva">
					¿Marcar como activa?
				</label>
			</div>

			<div class="mt-4">
				<button type="submit" class="btn btn-primary">Crear Promoción</button>
				<a asp-action="Index" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>
	</div>
</div>
